<h3>Email地址验证</h3>
<p>这封信是由热辣妹妹网发送的。</p>
<p>您收到这封邮件，是由于在热辣妹妹网进行了新用户注册，或者用户修改密码使用了这个邮箱地址。如果您并没有访问过热辣妹妹网，或者没有进行以上操作，请忽略这封邮件。您不需要退订或进行其他下一步的操作。</p>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<h2>账号激活说明</h2>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>如果您是热辣妹妹网的新用户，或在修改您的密码时使用了本地址，我们需要对您的地址有效性进行验证以避免垃圾邮件或地址被滥用。</p>
<p>您只需要点击下面的链接即可激活您的账户：</p>
<p><a href="https://www.hotmm8.com/verify_reset_password_link_through_email?code={{.code}}&email={{.email}}">https://www.hotmm8.com/api/v1/verify_register_through_email?code={{.code}}&email={{.email}}</a></p>
<p>(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)</p>
<p>感谢您的访问，祝您使用愉快!</p>
<p><a href="https://www.hotmm8.com">热辣妹妹网</a></p>